/********** Tags **********/
body {
    background-color: #45046a;
    color: #f1ebbb;
    text-align: center;
    font-family: Montserrat, sans-serif;
}

a:link {
    color: lightgrey;
    text-decoration: none;
}

a:visited {
    color: lightgrey;
    text-decoration: none;
}

hr {
    border-style: dotted none none;
    height: 0;
    border-color: #5c2a9d;
    border-width: 5px;
    width: 75%;
}

h1 {
    color: #b5076b;
    font-family: Indie Flower, sans-serif;
}

h3 {
    color: #b5076b;
    font-family: sans-serif;
}

table {
    margin: auto;
}

/******** .Classes ********/
.sugartown {
    font-family: Lobster;
    font-size: xx-large;
}

.links_lst {
    text-align: left;
    margin: auto;
    width: 50%;
}

/********** #IDs **********/
#blogs {
    padding: 4% 15%;
}