body {
    background-color: #45046a;
    color: #f1ebbb;
    font-family: Montserrat, sans-serif;
}

hr {
    border-style: dotted none none;
    height: 0;
    border-color: #5c2a9d;
    border-width: 5px;
    width: 75%;
}

h1 {
    color: #b5076b;
    font-family: Indie Flower, sans-serif;
}

h3 {
    color: #b5076b;
    font-family: sans-serif;
}

.sugartown {
    font-family: Lobster;
    font-size: large;
}